.alluser{
    background-color: #f4f4f4;
    padding-top: 2rem;
    /* padding-bottom: 2rem; */
    height: 100%;
    margin-top: 6rem;
    font-family: "Manrope", sans-serif;
}
.alluser-data{
    background-color: white;
    padding: 24px;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 5px;
}
.data-enter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-data{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
@media (max-width:900px) {
    .alluser{
        margin-top: 5rem;
    }   
    
}