.classes{
    background-color: #f4f4f4;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100%;
    margin-top: 0rem;
    font-family: "Manrope", sans-serif;
}
.class-list{
    background-color: white;
    border-radius: 5px;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 16px;
    margin-top: 1rem;
    
}
.classSelect{
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-left: 2rem;
    margin-right: 2rem;
    
    margin-top: 1rem;
    display: flex;
    justify-content: space-between; 
}
.leftsideofclass{
    background-color: white;
    width: 100%;
    margin-right: 1rem;
    border-radius: 5px;
    padding: 16px;
}
.rightsideofclass{
    background-color: white;
    width: 100%;
    border-radius: 5px;
    padding: 16px;

}
.basic{
    display: flex;
    justify-content: space-between;

}
.lbasic{
    margin-right: 1rem;
}
.lbasic label{
    margin-bottom: 1rem;
}
.class-list h4{
    margin: 0%;
}
.class-list Button{
    color: blueviolet;
    border: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.addclass{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
@media (max-width:900px) {
    .classes{
        margin-top: 0rem;
    }
    
}