.data{
    background-color: #f4f4f4;
    height: 100%;
    padding: 24px;
    font-family: "Manrope", sans-serif;
}
.feacter {
    display: flex;
    margin-left: 8px;
    
}
button.avc{
    height: 30px;
    padding: 8px 15px;
    border: 1px solid #CADDFF;
    box-sizing: border-box;
    border-radius: 6px;
    color: #000000;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    align-items: center;
    display: flex;
}
.icon-head{
    height: 12px !important;
    width: 12px !important;
    margin-right: 5px;

}
.prestange{
    font-family: "Manrope", sans-serif;
    margin: 0rem 0.5rem;
    padding: 24px;
}
.prestange p{
    font-size: 13px;
    margin-bottom: 3px;
    color: #8D8D8D;
    display: flex;
    align-items: center;
}
.prestange p span{
    display: flex;
    align-items: center;
}
.prestange h3 {
    margin: 0rem;
    font-size: 26px;
}
.total-student{
    background-color: rgb(71, 71, 152) !important;
    border-radius: 5px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 160px;
    color: white;
    
    padding: 24px;
    font-family: "Manrope", sans-serif;
}
.total-buttom{
    display: flex;
    align-items: baseline;
}
.main-total{
    display: flex;
    justify-content: space-between;

}
.new-total{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
   width: 100%;
   margin-left: 8px;
   margin-right: 8px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
}
.new-total:hover{
    background-color: #E9E9E9;
    cursor: pointer;

}
.new-total h2{
    margin: 0%;
}
.new-total p{
    padding: 0%;
}
.total-student h4{
margin: 0px;
margin-bottom: 24px;
font-size: 16px;
}
.total-student p{
    font-size: 13px;
    margin-bottom: 5px;
    padding: 0%;
}
.total-student h2{
    font-size: 26px;
    margin: 0%;
}
.stuentright{
    padding: 0rem;
    

}
.total-program{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: 8px;
    margin-right: 8px;
}
.total-program h6,p{
    margin: 0%;
    padding: 1rem;
}

.perfromance{
    background-color: white;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 24px;
    font-size: 16px;
}
.perfromance-text{
    display: flex;
    justify-content: space-between;
}
.p-leftside h4{
    margin: 0%;
}
.p-leftside h5{
    margin: 10px 0px;
    color: #8c8c8c;
    font-size: 13;
}
.p-rightside{
    display: flex;
    padding: 5px;
    align-items: center;
    
    
}
.p-rightside li{
    margin-right: 10px;
    
}
.p-rightside span{
    
}
.perfromance img {
    width: 100%;
    height: 10.5rem;
}
.total-program{
    padding: 1rem;
    
}

.total-program .text p,h4{
    padding-left: 0%;
    margin: 0%;
}

.graph-responsive{
    
}
.Market-Overview{
    background-color: white;
    border-radius: 5px;
    padding: 24px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 1rem;
}
.Market-Overview p{
    font-weight: 400;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 13px;
    color: #8c8c8c;
}
.Market-Overview h4{
    margin-bottom: 2px !important;
}
.Market-Overview img{
    width: 100%;
    height: 10rem;
}
.market-right Button{
    border: none;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    background-color: #9e9e9e;
    color: black;
}
.market-text{
    display: flex;
    justify-content: space-between;
}
.market-text h4 ,p{
    padding-left: 0%;
    margin: 0%;
}
.dolor{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.dolor-left{
    display: flex;
    align-items: center;

}
.dolor-right{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.dolor-left h4{
    margin-left: 1rem !important;
}
.dolor-right li{
    margin-right: 0.5rem;

}
.todo{
    background-color: white;
    border-radius: 5px;
    padding: 24px;
    margin-top: 1rem;
    margin-right: 0.5rem;
}
.todo p{padding-top: 0%;}
.todo-list{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 6px 0px;
}
.todo-list button{
    background-color: blue;
    border-radius: 50%;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    align-items: center;
    display: flex;
    font-weight: bold;
}
.date-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.list{
    margin: 10px 0px;
}
.date-list{
    margin-top: 8px !important;
    margin-bottom: 5px!important;
}
.finsh{
    background-color: #FAD480;
    border-radius: 5px;
    padding: 3px;
}
.Enhance{
    background-image: url(../images/background.jpg);
    position: relative;
    top: -8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 24px;
    border-radius: 5px;
    color: white;
}
.Enhance h2{
    margin-left: 0rem;
    padding: 0rem 0rem;
    font-size: 28px;
    margin-top: 0rem;
}
.Enhance button{
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    padding: 15px 24px;
    color: #ffffff;
    border: none;
    margin-top: 21px;
}

.circul-chart{
    background-color: white;

    margin-right: 0.5rem;
    padding: 24px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.circul-chart h4{
    margin-bottom: 16px;
    margin-top: 0rem;
}
.circul-chart ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0%;
    justify-content: center;
}
.circul-chart ul li{
    margin-right: 8%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #737F8B;
    font-size: 10px;
}

 ul {
    display: flex;
    align-items: center;

}
ul span{
    margin-right: 5px;
}
.text p{padding: 16px;}
.request{
    background-color:white;
    margin: 0rem 0.5rem;
    border-radius: 5px;
    padding: 24px;
    position: relative;
    top: -16rem;
}

.head{
    display: flex;
    justify-content: space-between;
 }
.head-left h4{
    margin-bottom: 2px;

}
.head-left p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.head-right Button{
    background: #1F3BB3;
    color: #ffffff;
    border-radius: 6px;
    font-weight: 500;
    align-items: center;
    padding: 10px;
}
.Leave-Report{
    background-color: white;
    padding: 24px;
    border-radius: 5px;
    margin-right: 5px;

}
.leave-head{
    margin-bottom:1rem;
    align-items: center;
}
.leave-head button{
    background-color: #E9E9E9;
    color: #000000;
    font-weight: bold;
    padding: 10px;
}
 a{
    text-decoration: underline;

}
.Leave-Report img{
    margin-top: 1rem;
    width: 100%;
}
.leave-head{
    display: flex;
    justify-content: space-between;
}
.recent{
    background-color: white;
    padding: 24px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    position: relative;
    top: -16rem;
}
.event{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.event p{
    padding: 0%;
    margin-bottom: 8px;
}
.date-event{
    display: flex;
    align-items: center;
    
}
.date-event p{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a {
    display: flex;
    align-items: center;
    color: #1F3BB3;
}
.Activities{
    background-color: white;
    padding: 24px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    position: relative;
    top: -16rem;
}
.Activities-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.Activities-head P{
    padding: 0%;
}
.line{
    padding: 0%;
    font-size: 13px;
    list-style: circle !important;
}
li{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0rem;
}
.top-performer{
    background-color: white;
    padding: 24px;
    margin-right: 0.5rem;
    position: relative;
    top: -30rem;
    border-radius: 5px;
}
.top-performer h4{
    padding: 0%;
    margin-bottom: 1rem;
}
.clint{
    padding: 8px 0px;
    align-items: center;
}
.clint-left{
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
.name{
    margin-left: 1rem;
}
.name h6{
    margin:  0px 0px 4px 4px;
    font-size: 13px;
}
.name p{
    margin-top: 9px;
}
.clint{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.piegraph{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
.line-graph{
    display: flex;
    justify-content: center;
    
    
}

@media (max-width:900px) {
    .graph-responsive-market{
        width:'200';
         height:'200';
    }
    .data{
        margin-top: 0rem;
    }

    .student-responsive{
        display: none;
    }
    .prestange{
        padding-left: 0%;
    }
    .prestange h1{
        font-size: 18px;
    }
    .total-student{
        flex-direction: column;
    }
    .line-graph{
        padding: 0rem;
    }
    .total-program{
        flex-direction: column;
    }
    .graph-responsive{
        flex-direction: column;
        
        justify-content: space-between;
    }
    .market-text{
        flex-direction: column;
    }
    .dolor{
        flex-direction: column;
        text-align: start;
        align-items: flex-start;
    }
    .dolor-left{
        flex-direction: column;
        text-align: start;
    }
    .dolor-left h4{
        margin: 0%;
    }
    .dolor-left h2{
        padding-left: 0% !important;
        margin-left: 0%;
    }
    .request{
        top: 0rem;
    }
    ul{
        padding: 0%;
        width: 100%;
    }
    ul li{
        font-size: 10px;
        padding: 0%;
        justify-content: center;
    }
    .head{
        flex-direction: column;
        justify-content: space-between;
    }
    .head-left p{
        font-size: 12px;
    }
    .head Button{
        margin-top: 1rem;
        margin-bottom: 1rem;

    }
    .recent .Activities {
        top: 0rem;
    }
    .top-performer{
        top: 0rem;
    }
    .Enhance{
        margin-top: 6rem;
    }
    .circul-chart{
        margin-top: -6rem !important;
        margin: 0px 8px;
    }
    .Leave-Report{
        margin-left: 8px;
        margin-right: 8px;
    }
    .leave-head{
        display: flex;
        flex-direction: column;
    }
    .leave-head Button{
        margin-top: 5px;
    }
    .recent{
        margin-top: 14rem;
    }
    .top-performer{
        margin-top: -14rem;
        margin-left: 8px;
        margin-right: 8px;
    }
    .data{
        margin-top: 0rem;
    }
.todo{
    margin: 0px 8px;
}
.main-total{
    display: block;
}
.new-total{
    
   width: auto;
   
}
.right-side-of-stundent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#par{
    margin-right: 2rem;}
}