.grades{
    background-color: #F4F5F7;
    width: 100%;
    height: 100vh;
    height: 100%;
    margin-top: 5rem;
    font-family: "Manrope", sans-serif;
}
.data1{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}
.data input {
    padding: 5px 2px;
}
.student-grades{
    background-color: white;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 24px;
    margin-top: 5rem;
    border-radius: 5px;
    margin-bottom: 4rem;
}
.sort{
    background-color: rgb(125, 125, 223);
    padding: 10px;
    color: white;
    border-radius: 50%;
}
.label1{
    display: flex;
    align-items: center;
}
@media (max-width:900px) {
    .student-grades{
        padding: 10px;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .data1{
        flex-direction: column;

    }
    .label1{
        display: flex;
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .sort{
        display: none;
    }
    .grades{
        margin-top: 1rem;
    }
    
}