.prepare{
    background-color: #F4F5F7;
    padding-bottom: 2rem;
    height: 100%;
    margin-top: 0rem;
    font-family: "Manrope", sans-serif;
    
}
.showresult {
    border: 1px  solid black !important;
    margin-right: 5px;
    padding: 14px 24px;
    
}
.showresult:hover{
    background-color: blue;
    color: white;
}
.left-side-calendar{
    padding: 16px;
    border-left: 3px solid blue;
    background-color: white;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
}
.left-side-calendar p{
    margin-bottom: 8px;
}
.right-side-calendar{
    padding: 16px;
    background-color: white;
    /* margin-left: 1rem; */
    margin-right: 1rem;
    border-radius: 1rem;

}
.Filter-board{
    padding: 16px;
    margin-left: 2rem;
    margin-right: 2rem;
       
}
.cheack-box{
    display: flex;
    align-items: center;
}
.popup1{
    position: fixed;
    z-index: 999;
    top: 10rem;
    left: 45rem;
    box-shadow: 2px black !important;
    background-color: wheat;
    border-radius: 10px;
    width: 15rem !important;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}
@media (max-width:900px) {
    .prepare{
        margin-top: 0rem;
    }
    .popup1{
        left: 1.5rem;
    }   
    
}