.usergroup{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 24px;
    

    
}
.tabaleData{
    font-size: 0.812rem;
}
.userData{
    background-color: white;
    border-radius: 8px;
    margin-left: 2rem !important;
    margin-right: 3rem !important;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    font-size: 14px !important;
    
}
.tabelHeading{
    font-size: 14px !important;
    border-top: 0;
    border-bottom-width: 1px;
    font-weight: 600;
    font-size: .875rem;
    color: #212529;
}
.manage-roles Button{
    border: 1px  solid black;
    margin-right: 5px;
    padding: 8px 18px;
}
.manage-roles Button:hover{
    background-color: blue;
    color: white;
}
.active-status{
    background-color: #51B1E1;
    width: 4rem;
    padding: 6px 9px;
    color: white;
    justify-content: center;
    display: flex;

 
}
.deactive-status{
    background-color: #F95F53;
    width: 6rem;
    padding: 6px 9px;
    color: white;
    justify-content: center;
    display: flex;
}
.manage-roles .icon-btn{
    display: none;
}
.icon-btn{
    display: none !important;
    align-items: center !important;
    display: flex;
}
.btn-style{
    background-color: blue !important;
    color: white !important;
    margin-top: 5px !important;
}
.btn-style:hover{
    background-color: red!important;
}

@media (max-width:900px) {
    .userData{
        background-color: white;
        border-radius: 8px;
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        display: flex;
        align-items: center;
        padding: 0rem 0rem;
        
        
    }
    .manage-roles Button{
        display: none;
    }
    .active-status{
        display: none;
    }
    .deactive-status{
        display: none;
    }
    .manage-roles .icon-btn{
        display: block;
    }
    .icon-btn{
        display: block !important;
    }
    
}