.responsive-bar{
    background-color: #f4f4f4 !important;
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    font-family: "Manrope", sans-serif;
    color: #6C7383;
    padding-left: 3.5rem;
    padding-right: 2.187rem;
    padding-top: 0px;
    padding-bottom: 0px;
    
    height: 97px;
    shadows: none;

    
}
.header-bg{
    background-color: white !important;
    transition: .3s ease-in-out;
    box-shadow: none;
    color: black;
    height: auto;
    
    
  }

.left-side-navbar{
    display: flex;
    align-items: center;
}
.left-side-navbar .aavatar{
    display: none;
}
.select-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}    
select{
    padding: 8px 15px;
    border: 1px solid #DFDFDF;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    font-family: "Manrope", sans-serif;
    min-width: 170px;
    height: 34px;
    background: #ffffff;
}
.date{
    background: #ffffff;
    font-family: "Manrope", sans-serif;
    min-width: 170px;
    border: 1px solid #DFDFDF;
    border-radius: 6px;
    margin-left: 5px;
    height: 34px;
}
.date p{
    padding: 0%;
}
.date-icon{
    width: 12px;
    height: 12px;
}
.nav-right-icon{
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-img{
    margin: 0.3rem;
}
.nav-right-icon .menu-icon {
    display: none;
}
.link a{
    text-decoration: none;
}
.name-of-user{
    margin-left: 11rem;
}
.header{
    display: none;
}
.name-of-user h1{
    margin: 0%;
    font-size: 28px;
}
.name-of-user h3{
    margin: 0%;
    font-size: 16px;
}
@media (max-width:900px) {
    .select-date{
        display: none;
    }
    .left-side-navbar .aavatar{
        display: block;
    }
    .name-of-user{
        display: none;
    }
    .responsive-bar{
        justify-content: space-between;
    }
    .nav-right-icon .menu-icon{
        display: block;
    }
    .nav-right-icon .right-avater{
        display: none;
    }
    
    
}