.appbar{
    width: 100% !important;
    background-color: #F4F5F7 !important;
    color: black !important;
}
.date{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    color: black;
    padding: 0rem 1rem;
}
.name-of-user p{
    margin: 0rem;
}

.feacter button{
    padding: 0.5rem;
   
    align-items: center;
}