.sidebar{
    background-color: black;
    color: #ffffff;
    height: auto;
    width: 220px;
    transition:  0.1s linear ;
    position: sticky;
    z-index: 100;
    font-family: "Manrope", sans-serif;
}
main{
    width: 100%;
    position: relative;
    z-index: 99;
}
.main{
    display: flex;

}
.top_section{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 35px;
    padding: auto;
    align-items: center;
}
.top_section img {
    max-width: 80%;
    height: 34px;
    margin: auto;
    vertical-align: middle;
    padding-left: 0.5rem;
    
}
a{
    text-decoration: none;
}
.link{
    display: flex;
    color: white;
    gap: 10px;
    /* justify-content: space-between; */
    /* text-align: center; */
    padding: 10px 35px;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    font-family: "Manrope", sans-serif;
    border-left: 1px solid  black;
}

.mobile-link {
    color: white;
    gap: 10px;
    /* justify-content: space-between; */
    text-align: center;
    padding: 10px 8px;
    padding: auto;
    align-items: center;
    font-weight: bold;

    
}
.link:hover{
    border-left: 1px solid  white;
    transform: 2s;
}
.heading{
    margin: 0 30px;
    font-size: 11px;
    font-weight: 700;
    padding: 20px 0px 5px 0px;
    text-transform: uppercase;
}
.heading li{
    padding: 0%;
}
.link-teacher{
    margin: 0%;
    padding-right: 0%;
}
@media (max-width:900px) {
    .sidebar{
        display: none;
        
    }
    
}