.table{
    margin-top: 6px;
}
.th{
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    vertical-align: middle;
    line-height: 1;
    white-space: nowrap;
    padding: 1.125rem 1.375rem;
}
.aa{
    margin-top: 2.5rem;
}
.aa .name{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    /* margin-top: 2.5rem; */
    align-items: center;
}
.name p{
    margin: 0%;
    padding: 0%;
}
