.css-1hc7nu0-MuiPaper-root-MuiAppBar-root {
  position: relative!important;
  top: 0!important;
}
.css-1t29gy6-MuiToolbar-roo {
position: absolute!important;
left: 0!important;
top: 0!important;
}
.MuiInput-underline{
  border-bottom: 0 !important;
  border: 0!important;

}
body {
  margin: 0!important;
}
